body{
    background-color: black;
    color: green;
}

a{
    color: green;
    text-decoration:none;
}

@media only screen and (min-width: 768px) {}
    /* For desktop: */
    article {
        word-wrap: break-word; 
        width: 700px;
        margin: 0 auto;
}


nav ul li{
	display:inline;
    text-align: center; /* Centra horizontalmente */
    list-style-type: none;
    padding: 0;
    display: inline;
    margin: 0 20px; /* Espacio entre los elementos */
    
}	

h1{
    text-align: center;
    font-size: 8rem;
    font-family:"Micro 5 Charted" ;
    font-weight: 400;
    color: orange;
}

p,ul,h2{
    font-size: 10px;	
    font-family: "Press Start 2P";
    font-weight: 500;
    color: green ;	
    text-align: justify;
    line-height: 30px;
}

#desplegable{
    font-family: "Micro 5 Charted";
    font-size: 2rem;
    font-weight: 500;
    color: green ;
    cursor: pointer;
}

#space{
        font-size: 10px;

}

    
